

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin-top: 10px;
  margin-right: 10%;
  margin-bottom: 10px;
  width: 400px;
  text-align: left;
  font-size: 65px;
  font-weight: bold;
  float: left;
  text-transform: lowercase;
  clear: both;
}

.menuContainer:hover, .menu:hover, .enterButton:hover, .resetButton:hover, .playButton:hover {
  opacity: 0.5;
}


.menuContainer {
  position: relative;
  float: right;
  margin-top: 42px;
  margin-right: 10px;
}

.menu {
    width: 33px;
    height: 6px;
    background-color: #93A1A5;
    margin: 3px 0;
}

/*.circle {
  background-color: white;
	border-radius: 50%;
  color: #00FFAD;
  float: right;
  font-size: 25px;
  font-weight: bold;
	width: 60px;
	height: 60px;
  /*padding-top: 2px;*/
  /*position: relative;
  margin-top: 20px;
  text-align: center;
  line-height: -20px;*/
  /*clear: both;*/
/*}*/

.score {
  font-size: 30px;
  margin-top: 14px;
  color: 	#00FFAD;
  font-weight: bold;
}

/*.score-board {
  font-size: 30px;
  margin-top: 40px;
  padding-right: -20px;
  float: left;
  color: 	#93A1A5;
  font-weight: bold;
  clear: both;
}*/

main {
  margin: 10px auto;
  width: 600px;
}

.screen {
  position: relative;
  /*background-color: #00FFAD;*/
  background: -webkit-linear-gradient(#B3FFAB, #12FFF7);
  height: 530px;
  clear: both;
  margin-bottom: -15px;
  padding-top: 20px;
}

.fallingWord {
  float: right;
  font-size: 10px;
  position: absolute;
}

button, input[type="submit"], .submit {
  color: #fff;
  border: 0;
  width: 100%;
  display: block;
  font-size: 25px;
  font-weight: bold;
  line-height: 28px;
}

button {
  padding: 10px;
}



input[type="text"] {
  width: 50%;
  background-color: white;
  border-width: 0px 0px 3px 0px;
  font-size: 14px;
  padding: 9px 8px 7px;
  margin: 10px auto;
  text-align: center;
  position: relative;
}

input[type="submit"] {
  margin-top: 10px;
}

.submit {
  border: 0;
  margin-top: 10px;
  position: relative;
  text-align: center;
}

.enterButton {
  background-color: #12FFF7;
}

.playButton {
  height: 40px;
  width: 200px;
  color: black;
  background-color: #f2f2f2;
  margin: 5px 3px;
  float: right;
  font-size: 20px;
  line-height: 20px;
}

.resetButton {
  background-color: #f2f2f2;
  color: black;
  float: left;
  font-size: 20px;
  height: 40px;
  line-height: 20px;
  margin: 5px 2px;
  width: 200px;
}

.word-container {
  color: white;
  font-size: 25px;
  height: 20px;
  left: 0;
  margin-left: 300px 600px;
  position: absolute;
  text-align: center;
  text-transform: lowercase;
  top: 0;
  width: 100px;
}

.active {
  border-bottom: 3px solid #FF68CC;
  color: white;
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 20px;
  position: relative;
  transition: color 3s, font-weight 6s;
}

.resetPage {
  background-color: black;
  display: none;
  height: 100%;
  width: 100%;
}

.left {
  float: left;
  width: 50%;
}

.right {
  float: left;
  width: 50%;
}

.welcome {
  /*background-color: rgba(0, 0, 0, 0.5);*/
  display: none;
  /*color: white;*/
  height: 150px;
  width: 300px;
  padding: 10px;
  position: relative;
  text-align: center;
  margin-left: 150px;
  /*margin-bottom: -40px;*/
  /*color: grey;*/
  margin-top: 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.x {
  position: relative;
  float: right;
  font-size: 20px;
  margin-top: 20px;
}

.instructions {
  padding: 0 10px;
}
