

body {
  background-color: white;
}

h1 {
  margin: 10px auto;
  width: 300px;
  text-align: center;
}

main {
  margin: 10px auto;
  width: 500px;
}

.screen {
  background-color: #f2f2f2;
  height: 550px;
}

.fallingWord {
  float: right;
  font-size: 30px;
  position: absolute;
}

button, input[type="submit"], .submit {
  background-color: #66ffff;
  color: #fff;
  border: 0;
  width: 100%;
  display: block;
  font-size: 15px;
  border-radius: 3px;
  font-weight: bold;
  line-height: 28px;
}

input[type="text"] {
  width: 96%;
  background-color: white;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  padding: 9px 8px 7px;
  border-radius: 3px;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

input[type="submit"] {
  border: 0;
  margin-top: 10px;
}

.submit {
  border: 0;
  margin-top: 10px;
}

.playButton {
  height: 30px;
  width: 200px;
  color: black;
  background-color: #f2f2f2;
  margin: 10px auto;
}

.timer {
  height: 70px;
  width: 70px;
  border: 5px solid #66ffff;
  position: relative;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  line-height: 70px;
  color: #66ffff;
  margin: 0 auto 30px;
}

.timer.active {
  background-color: #66ffff;
  color: white;
}

.word-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100px;
  height: 20px;
  /*background: white;*/
  color: #66ffff;
  text-align: center;
  font-size: 40px;
}
